.footer {
  height: 40vh;
  width: 100vw;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slideY {
  from {
    transform: translateY(60px);
    color: rgb(13, 179, 197, 0.05);
  }
  to {
    transform: translateY(0px);
    color: rgb(13, 179, 197);
  }
}

.instructions {
  text-align: center;
  color: rgb(13, 179, 197);
  font-size: 1.2em;
  animation: slideY 3s;
}
